<!DOCTYPE html>
<html>
  <head>
    <title>Mails</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/mail.js"></script>
    <style>
      #id001 {
        color: red;
      }
      #p011 {
        display: none;
      }
      .hide {
        visibility: none;
      }
    </style>
  </head>
  <body>
    <p id="p011"></p>
    <div id="notice">
      <% if(notice) %>
        <p><%= notice; %></p>
    </div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">C-mail</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/auth">Inbox</a></li>
            <li><a href="/Email/sentmail">Sent Mail</a></li>
            <li><a href="/">Spam Mail</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Sender</th>
        <th>Subject</th>
        <th>Body</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody id="mailshow">
        <% for(var i = 0; i < mails.length; i++) { %>
          <tr>
            <td><%= mails[i].SenderName %></td>
            <td><%= mails[i].Subject %></td>
            <td><%= mails[i].Body %></td>
            <td><%= mails[i].Time %></td>
            <td class='hide'><%= mails[i].id %></td>
            <td>Delete</td>
            <!--<td><a href="#" onclick="#">Delete</a></td>-->
          </tr>
        <% } %>
    </tbody>
    </table>
    <p>Logged in as: <% if(username) %><%= username; %></p>
    <button class="btn btn-info"><a href="/Email/createmail">Create Mail</button>
  </body>
</html>
